@charset "utf-8";

// Set your brand colors
$hkpurple: #5e2137;
$hkorange: #ef601f;

// Update Bulma's global variables
$family-sans-serif: "League Spartan Bold",sans-serif;
$primary: $hkpurple;
$link: $hkorange;
$title-color: $hkpurple;

@import "../node_modules/bulma/bulma.sass";