<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Hack Kosice 2022 application</h1>
    <p>Hi {{name}}!</p>
    <p>This email is to confirm that we've received your application for Hack Kosice 2022 and are ready to review it.
    We will send you our decision in meantime.</p>
</body>
</html>