<!DOCTYPE html>
<html lang="en">
<body>
    <h1 style = "color: #5e2137;">Hack Kosice 2022 Application</h1>
    <p>Hi {{name}}!</p>
    <p>This email is to confirm that we've received your application for Hack Kosice 2022 and are ready to review it.
    We will send you our decision in the meantime.</p>
    <br>
    <p>Best regards,</p>
    <p>Hack Kosice Team</p>
</body>
</html>